# Exclude everything
# /*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!README.cn.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Build artifacts and dependencies
/build_x64/
/build_macos/
/build_x86_64/
/.deps/

# IDE and editor files
/.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
